.cabeçalho {
    background: #1E90FF ;
    color: black;
    display: flex
    justy-content: space-around;
    align-items
}
.cabeçalho-imagem{
    width:20%
}
.cabeçalho-lista-item{
display:inline-block;
margin:0 16px
font-size: 36px;
margin: 0 16px
}
.escola-imagem{
    width: 25%;
}

.escola-imagem{
    background-imagem: linear-gradient(#008080;#00800)
}
